form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  form input {
    font-size: 24px;
    height: 40px;
    padding: 0 10px;
    cursor: text;
    transition: 0.5 ease-in-out;
    border: 0;
    border-radius: 5px;
    border-bottom: 2px solid rgb(69, 151, 234);
    outline: 0;
  }
  
  form input:focus {
    outline: 1px solid var(--primary-color);
    border: 2px solid rgb(18, 102, 248);
  }
  
  form button {
    border: none;
    background:rgb(16, 72, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  form button:hover {
    background: var(--primary-color-darker);
    transition: linear;
    cursor: pointer;
  }

  .titulo{
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }

  
::placeholder{
  font-size: 20px;
}


  .paragrafo-resultado{
    background:rgb(13, 255, 0);
    padding: 10px 20px;
  }

  .error{
    background: rgb(228, 15, 15);
    padding: 10px 20px;
    color:#fff;
  }



  